.page {
  min-height: 100%;
}

section {
  margin: 0 200px;
}

.page-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: bold;
  overflow: visible;
  text-align: center;
}

.page-content {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 15px;
}
