section {
  margin: 0 200px;
}

.page-title {
  color: #dfdfdf;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
  overflow: visible;
  text-align: center;
}

.page-content {
  color: #dfdfdf;
  background-color: #1b1f27;
  padding: 15px;
}
