html, body {
  background-color: #0e0e0e;
  min-height: 100%;
}

a, a:hover {
  color: #02a3cc;
}

li {
  list-style-type: none;
}

.form-group.submit {
  text-align: center;
}

.input {
  background-color: #0e0e0e;
  border: 0;
  border-radius: 0;
  color: #ffffff;

  &:focus {
    background-color: #0e0e0e;
    color: #ffffff;
  }

  &[type="submit"] {
    background-color: #02a3cc;
    display: inline-block;
    width: 200px;

    &:disabled {
      color: #dfdfdf;
      background-color: #3eacc7;
    }
  }
}

.link-button {
  background-color: inherit;
  border: none;
  color: #02a3cc;
}

.table {
  color: #ffffff;

  thead, tbody {
    th, td {
      border: none;
    }
  }

  tbody {
    tr:hover {
      background-color: #282a33;
    }
  }
}

.list-group-item {
  background-color: unset;
}
