.pagination {
  .page-item:first-child button.page-link {
    border-top-left-radius: 0; // !important;
    border-bottom-left-radius: 0; // !important;
  }

  .page-item:last-child button.page-link {
    border-top-right-radius: 0; // !important;
    border-bottom-right-radius: 0; // !important;
  }

  .page-link {
    background-color: #02a3cc;
    color: #ffffff;


    &:disabled {
      background-color: inherit;
    }

    &:disabled:hover {
      color: #ffffff;
    }

    &:hover {
      color: #02a3cc;
    }
  }
}